<div id="load" class="load hover:bg-amber-400 drop-shadow-md rounded-lg border-2 p-2 m-3">
    <b>Current temperature</b>
    <div class="flex flex-row place-content-between hover:underline">
        <p>CPU: </p> <p id="cpu_temp"></p>
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>GPU: </p> <p id="gpu_temp"></p>
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>DISK: </p> <p id="disk_temp"></p>
    </div>
</div>