<div id="specs" class="specs hover:bg-amber-400 drop-shadow-md rounded-lg border-2 p-2 m-3">
    <div class="flex flex-row place-content-between hover:underline">
        <p>Platform: </p> <p id="spec_platform"></p>
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>CPU: </p> <p id="spec_processor"></p>        
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>Total ram: </p> <p id="spec_total_ram"></p>        
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>Release: </p> <p id="spec_platform_release"></p>        
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>Version: </p> <p class="text-right" id="spec_platform_version"></p>        
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>Architecture: </p> <p id="spec_architecture"></p>        
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>Hostname: </p> <p id="spec_hostname"></p>        
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>IP: </p> <p id="spec_ip_address"></p>        
    </div>
    <div class="flex flex-row place-content-between hover:underline">
        <p>MAC:</p> <p id="spec_mac_address"></p>        
    </div>
</div>